[Desktop Entry]
Type=Service
Name=JetBrainsDolphinPlugin
Icon=planetkde
X-KDE-ServiceTypes=KFileItemAction/Plugin
MimeType=inode/directory
X-KDE-Library=jetbrainsdolphinplugin
